<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- CI ships the debug build. ui-tooling adds an exported PreviewActivity that any app
             could start inside this process; the preview in the IDE does not need it. -->
        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            tools:node="remove" />
    </application>
</manifest>
